*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	min-width: 1020px;
	background:#F5F5F5;
}
/*******header*******/
#header{
	position: relative;
	font-size: 14px;
	background: #F5F5F5;
}
#header .h-nav{
	position: absolute;
	Z-index:1;
	width: 100%;
	font-size:12px;
	background: #FFFFFF;
	height: 30px;
}
#header .h-nav ul{
	margin-left: 100px;
}
#header .h-nav ul > li > a{
	line-height:30px;
	float:left;
	margin-left: 10px;
	color: #B6B6B6;
	font-weight: bolder;
}
#header .h-nav .h-n-l .more-con{
	position: absolute;
	top:30px;
	left: 530px;
	Z-index:-1;
	display:none;
	width: 145px;
	height: 130px;
	padding:10px;
	background-color: #fff;
	text-align: center;
	line-height:32px;
}
#header .h-nav ul > li.more:hover .more-con{
	display: block;
}
#header .h-nav ul > li.more:after{
	position: absolute;
	top:11px;
    left: 650px;
	content:'';
	border:4px solid transparent;
	border-bottom:0;
	border-top:6px solid #999;
}
#header .h-nav .h-n-r {
	position: absolute;
	right: 109px;
}
#header .h-nav .h-n-r li{
	float: left;
}
/*******nav********/
nav{
	width: 100%;
	box-shadow: 0 0 10px gainsboro;
	background: white;
	padding-top: 40px;
	overflow: hidden;
	position: relative;
}
nav h1{
	margin-left: 109px;
	float: left;
}
nav ul li{
	float: left;
	margin-right: 20px;
	font-size: 17px;
}
nav ul li a{
	color: black;
}
nav ul li a:hover{
	color: #ca141d;
	border-bottom: 2px solid #CA151D;
	padding-bottom: 5px;
}
nav ul{
	margin-top: 10px;
}
nav input{
	outline: none;
	float: right;
	margin-right: 109px;
	width:328px;
	height: 30px;
	background: url(../img/search/search.png)no-repeat right;
}
nav .content{
	position: absolute;
	bottom: -260px;
	width: 100%;
	height: 260px;
	box-shadow: 0 0 10px gainsboro;
	display: ;
}
nav .content .content-menu li{
	float: left;
	margin-right: 30px;
}
/********section*********/
section{
	width: 1200px;
	margin: 0 auto;
}
section p{
	font-size: 13px;
	color: #92667c;
	line-height: 45px;
}
section p .search-word{
	color: #CA141D;
}
section .sort{
	width: 100%;
	background: white;
	height: 50px;
	position: relative;
}
.sort span{
	color: #dacfd5;
	font-size: 12px;
	line-height: 50px;
	margin-left: 22px;
}
.sort ul{
	position: absolute;
	left: 90px;
	top:0;
}
.sort ul li{
	float: left;
	margin-right: 20px;
	line-height: 50px;
	font-size: 12px;
	cursor: pointer;
}
 .sort ul li:nth-of-type(1){
 	color:#CA141D ;
 }
.sort ul li:hover{
	color: #CA141D;
}
section>ul{
	margin-top: 10px;
	width: 100%;
}
section>ul li{
	width:232px;
	float: left;
	background: white;
	margin-right: 9px;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
}
section>ul li:nth-of-type(5n){
	margin-right: 0;
}
section>ul li img{
	width:233px;
}
section>ul::after{
	content: "";
	clear: both;
	display: block;
}
section>ul li .title{
	font-size: 13px;
	color: #666666;
	width: 180px;
	display: inline-block;
	margin-left: 17px;
	margin-right: 17px;
}
section>ul li .price{
	font-size: 12px;
	color: #CA141D;
	margin-left: 17px;
}
section>ul li .choose{
	font-size: 12px;
	color: #9688a5;
	margin-left: 11px;
}
section>ul li .gift{
	color: white;
	font-size: 13px;
	text-align: center;
	line-height: 47px;
	width:47px;
	height: 47px;
	background: #fc5121;
	border-radius: 50%;
	position: absolute;
	top:180px;
	left:170px;
}
section .page{
	margin-top: 30px;
	position: relative;
	width: 100%;
}
.page span{
	width:30px;
	height: 30px;
	border: 1px solid #dddcdb;
	background: white;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
}
.page span:hover{
	background: black;
	color: white;
}
.page .first{
	right: 326px;
}
.page .last{
	right: 285px;
}
.page .next{
	right: 42px;
}
.page .last-one{
	right: 0;
}
.page ol{
	position: absolute;
	right: 68px;
}
.page ol li{
	float: left;
	margin-right: 20px;
	cursor: pointer;
	line-height: 30px;
	font-size: 12px;
	color: #666666;
}
.page ol li:nth-of-type(1),.page ol li:hover{
	color: #cc151e;
}
