@charset 'utf-8';

/*content start*/

#content {
	background-color: #F5F5F5;
}

.c-banner {
	width: 100%;
	height: 450px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.c-banner .c-b-con {
	left: 0;
	width: 10000%;
	list-style: none;
	position: relative;
}

.c-banner .c-b-con li {
	width: 1.2%;
	float: left;
}

.c-banner .c-b-con li img {
	width: 100%;
	height: 450px;
}

.chooseBut {
	width: 40px;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 25px;
	line-height: 70px;
	text-align: center;
	display: none;
	cursor: pointer;
}

#left {
	position: absolute;
	left: 0px;
	top: 170px;
}

#right {
	position: absolute;
	right: 0px;
	top: 170px;
}

.c-banner .c-b-btn {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	bottom: 20px;
}

.c-banner .c-b-btn li {
	width: 15px;
	height: 15px;
	margin-right: 8px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.c-banner .c-b-btn li.current {
	background-color: #FF0000;
}